/* FILE: woocommerce/pages/_checkout-order-received.scss */

.place-order .button.alt {

	&,
	.fl-module & {
		@extend %colors_accent;
	}

}

ul.order_details {
	$zigzag_size: 1em;

	position: relative;
	max-width: 36em;
	max-width: var(--layout_width_entry_content);
	margin: ( _pow( 1 + $ratio_min, 4 ) +em ) 0;
	list-style: none;

	li {
		@extend %shaded_background;
		padding: 1em ( $ratio +em );
		margin-top: 2px;
		text-transform: uppercase;
		font-size: 1em - $ratio_min / 2;

		&:first-of-type {
			margin-top: 0;
		}

	}

	strong {
		display: block;
		text-transform: none;
		font-size: 1em + $ratio_min;
	}

	//
	// Zigzag pattern
	//
	&::after,
	&::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		left: 0;
		top: -$zigzag_size / 2;
		height: $zigzag_size / 2;
		background-position: 0 100%;
		background-repeat: repeat-x;
		background-size: $zigzag_size $zigzag_size;
		opacity: $overlay_from_text_color_opacity;
		background-image:
			linear-gradient(
				45deg,
				map_get( $customize_options, 'color_content_text' ) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				map_get( $customize_options, 'color_content_text' ) 75%,
				map_get( $customize_options, 'color_content_text' )
			),
			linear-gradient(
				-45deg,
				map_get( $customize_options, 'color_content_text' ) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				map_get( $customize_options, 'color_content_text' ) 75%,
				map_get( $customize_options, 'color_content_text' )
			);
		background-image:
			linear-gradient(
				45deg,
				var(--color_content_text) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				var(--color_content_text) 75%,
				var(--color_content_text)
			),
			linear-gradient(
				-45deg,
				var(--color_content_text) 25%,
				rgba( #000, 0 ) 25%,
				rgba( #000, 0 ) 75%,
				var(--color_content_text) 75%,
				var(--color_content_text)
			);
	}

	&::after {
		background-position: 0 0;
		top: auto;
		bottom: -$zigzag_size / 2;
	}

}

.shop_table {
	margin-bottom: _pow( 1 + $ratio_min, 4 ) +em;

	&.order_details,
	.woocommerce-order-pay & {

		small {
			font-weight: 400;
		}

		tfoot tr:last-child {
			font-weight: 400;

			.amount:first-child {
				font-size: $ratio +em;
				font-weight: 700;
			}

		}

	}

}

.customer_details {

	td:last-child {
		text-align: inherit;
	}

}

	.woocommerce-customer-details {

		&--email,
		&--phone {
			@extend %icon_background;
			margin: .25em 0 0;

			&::before {
				margin-inline-end: .5em;
			}
		}

		:where( &--email ) {
			// https://icon-sets.iconify.design/line-md/email/
			--icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PHBhdGggc3Ryb2tlLWRhc2hhcnJheT0iNjQiIHN0cm9rZS1kYXNob2Zmc2V0PSI2NCIgZD0iTTQgNWgxNmMwLjU1IDAgMSAwLjQ1IDEgMXYxMmMwIDAuNTUgLTAuNDUgMSAtMSAxaC0xNmMtMC41NSAwIC0xIC0wLjQ1IC0xIC0xdi0xMmMwIC0wLjU1IDAuNDUgLTEgMSAtMVoiPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGR1cj0iMC42cyIgdmFsdWVzPSI2NDswIi8+PC9wYXRoPjxwYXRoIHN0cm9rZS1kYXNoYXJyYXk9IjI0IiBzdHJva2UtZGFzaG9mZnNldD0iMjQiIGQ9Ik0zIDYuNWw5IDUuNWw5IC01LjUiPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGJlZ2luPSIwLjZzIiBkdXI9IjAuMnMiIHZhbHVlcz0iMjQ7MCIvPjwvcGF0aD48L2c+PC9zdmc+");
		}

		:where( &--phone ) {
			// https://icon-sets.iconify.design/line-md/phone/
			--icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBzdHJva2UtZGFzaGFycmF5PSI2NCIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjY0IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgZD0iTTggM2MwLjUgMCAyLjUgNC41IDIuNSA1YzAgMSAtMS41IDIgLTIgM2MtMC41IDEgMC41IDIgMS41IDNjMC4zOSAwLjM5IDIgMiAzIDEuNWMxIC0wLjUgMiAtMiAzIC0yYzAuNSAwIDUgMiA1IDIuNWMwIDIgLTEuNSAzLjUgLTMgNGMtMS41IDAuNSAtMi41IDAuNSAtNC41IDBjLTIgLTAuNSAtMy41IC0xIC02IC0zLjVjLTIuNSAtMi41IC0zIC00IC0zLjUgLTZjLTAuNSAtMiAtMC41IC0zIDAgLTQuNWMwLjUgLTEuNSAyIC0zIDQgLTNaIj48YW5pbWF0ZSBmaWxsPSJmcmVlemUiIGF0dHJpYnV0ZU5hbWU9InN0cm9rZS1kYXNob2Zmc2V0IiBkdXI9IjAuNnMiIHZhbHVlcz0iNjQ7MCIvPjwvcGF0aD48L3N2Zz4=");
		}
	}

.woocommerce-thankyou-order-failed {
	padding-top: _pow( $ratio, 2 ) +em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: $ratio_min / 4 + 1em;
	border-top-width: 2px;
	border-top-style: dashed;

	@include media( map_get( $breakpoint, 'xl' ) ) {
		padding-left: percentage( $ratio_min / 2 );
		padding-right: percentage( $ratio_min / 2 );
	}

	&::before {
		@extend %genericon;
		@extend %icon_vertical_align_middle;
		content: '\f414';
		margin-#{$right}: $ratio_min +em;
	}

	&-actions {
		padding-bottom: _pow( $ratio, 2 ) +em;
		margin-bottom: _pow( $ratio, 2 ) +em;
		text-align: center;
		border-bottom-width: 2px;
		border-bottom-style: dashed;

		.button {
			margin: 0 ( $ratio_min +em );
		}

	}

}

.woocommerce-thankyou-order-received {
	font-size: $ratio_min + 1em;

	&::before {
		@extend %genericon;
		content: '\f418';
		display: block;
		width: 2em;
		height: 2em;
		line-height: 2 - $ratio_min / 2;
		margin-bottom: $ratio_min +em;
		text-align: center;
		font-size: 1em + $ratio_min;
		border-width: 2px;
		border-style: solid;
		border-color: currentColor;
		border-radius: 2em;
		vertical-align: middle;

		@include media( map_get( $breakpoint, 'l' ) ) {
			display: inline-block;
			margin-#{$right}: $ratio_min +em; // {{RTL}}
			margin-bottom: 0;
		}

	}

}

.woocommerce-order-details {
	margin-bottom: $ratio +em;
}
