/* FILE: woocommerce/main/_forms.scss */

.woocommerce {

	fieldset {
		padding: ( $ratio +em ) 6% ( _pow( $ratio, 2 ) +em );
		margin-top: 2em;
		margin-bottom: 2em;
		border-width: 2px;
		border-style: dashed;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	label {
		display: block;
		text-transform: uppercase;
		font-size: 1em - $ratio_min / 2;

		&.inline {
			display: inline-block;
		}

	}

	legend {
		padding: 0 1em;
		text-transform: uppercase;
		font-size: 1em - $ratio_min / 4;
		font-weight: 700;
	}

	form .hidden {
		display: none;
	}

}

.form-row {

	input,
	textarea,
	select {
		width: 100%;
	}

	input[type="checkbox"],
	input[type="radio"],
	.button {
		width: auto;
	}

	@include media( map_get( $breakpoint, 'm' ) ) {

		&-first,
		&-last {
			float: $left; // {{RTL}}
			width: 48%;
			margin-#{$right}: 4%; // {{RTL}}
		}

		&-last {
			margin-#{$right}: 0; // {{RTL}}
		}

	}

	&.create-account {

		label {
			display: inline-block;
		}

	}

	.woocommerce-invalid {

		select,
		.input-text,
		.select2-container .select2-choice {
			box-shadow: 0 ( $ratio_min +em ) 0 map_get( $colors, 'error_background' );
		}

	}

}

%styled_checkbox_label {
	text-transform: none;
	letter-spacing: 0;
	font-size: 1rem;
	cursor: pointer;

	&::before {
		@extend %icon_vertical_align_middle;
		content: '';
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-#{$right}: $ratio_min +em; // {{RTL}}
		line-height: 1;
		font-size: $ratio_min + 1rem;
		border-width: 0;
		border-radius: 1em;
		vertical-align: middle;
		cursor: pointer;
		transition: background ( $small_animation_speed +s );
	}

}

.woocommerce {

	input[type="checkbox"]:first-child,
	input[type="radio"]:first-child {
		@extend %screen_reader--hide;
		// Workaround for setting the parent element relative position:
		position: relative !important;
		float: $left; // {{RTL}}
		#{$left}: -999em; // {{RTL}}
		bottom: auto;
		margin: 0;

		+ label,
		+ span {
			@extend %styled_checkbox_label;

			&::before {
				background-color: rgba( #000, .05 );
				box-shadow: inset 0 0 0 2px;
			}

		}

			&:focus {

				+ label,
				+ span {

					&::before {
						outline-width: 2px;
						outline-style: dashed;
						outline-offset: 3px;
						outline-color: currentColor;
					}

				}

			}

		&:checked {

			+ label,
			+ span {

				&::before {
					@extend %colors_accent;
					box-shadow: none;
				}

			}

		}

	}

	label[for="rememberme"] input[type="checkbox"]:first-child {
		@extend %screen_reader--show;
	}

}

.quantity {
	@extend %colors_site_content_headings;
	display: inline-block;
	margin-#{$right}: 1em; // {{RTL}}
	vertical-align: top;

	.qty {
		max-width: $ratio +em;
		padding: 0;
		line-height: 1;
		font-size: 2 * $ratio_maj + 1em;
		font-size: calc( #{ 2 * $ratio_maj + 1em } - 2px );
		font-weight: 300;
		background: none;
		border-width: 0;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-color: currentColor;
	}

}

.select2.select2-container .select2 {

	&-choice,
	&-selection {
		@extend %break_words_disable;
		position: relative;
		max-width: 100%;
		height: auto;
		padding: #{ $ratio_maj +em };
		color: inherit;
		vertical-align: baseline;
		background-color: transparent;
		border: 2px solid transparent;
		border-bottom-color: currentColor;
		border-radius: 0;
		transition: border-color ( $small_animation_speed +s );

		&[aria-expanded="true"] {
			border-color: currentColor;
		}

	}

	&-selection .select2-selection__arrow {
		top: $form_field_padding_vertical;
	}

	&-selection--single {

		.select2-selection__rendered {
			padding-left: 0;
			padding-right: 0;
			line-height: normal;
		}

	}

}

.woocommerce {

	.password-input {
		position: relative;
	}

	.show-password-input {
		@extend %icon_background;
		position: absolute;
		inset-inline-end: .5em;
		inset-block-start: 50%;
		padding: 0 !important;
		margin: 0 !important;
		background: transparent !important;
		color: inherit !important;
		border: 0 !important;
		border-radius: 0 !important;
		box-shadow: none !important;
		transform: translateY(-50%) !important;
		transition: none !important;
	}

	:where( & .show-password-input ) {
		--icon_size: 1.5em;
		// https://icon-sets.iconify.design/line-md/watch-loop/
		--icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjAiIGZpbGw9ImN1cnJlbnRDb2xvciI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iciIgZHVyPSI2cyIga2V5VGltZXM9IjA7MC4wMzswLjk3OzEiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiB2YWx1ZXM9IjA7MzszOzAiLz48L2NpcmNsZT48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjIiIGQ9Ik00IDEyYzEuMzggLTAuNzcgNC40MiAtMS4zIDggLTEuM2MzLjU4IDAgNi42MiAwLjUzIDggMS4zYy0xLjM4IDAuNzcgLTQuNDIgMS4zIC04IDEuM2MtMy41OCAwIC02LjYyIC0wLjUzIC04IC0xLjNaIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJkIiBkdXI9IjZzIiBrZXlUaW1lcz0iMDswLjAzOzAuOTc7MSIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iTTQgMTJjMS4zOCAtMC43NyA0LjQyIC0xLjMgOCAtMS4zYzMuNTggMCA2LjYyIDAuNTMgOCAxLjNjLTEuMzggMC43NyAtNC40MiAxLjMgLTggMS4zYy0zLjU4IDAgLTYuNjIgLTAuNTMgLTggLTEuM1o7TTIgMTJjMS43MiAtMy44MyA1LjUzIC02LjUgMTAgLTYuNWM0LjQ3IDAgOC4yOCAyLjY3IDEwIDYuNWMtMS43MiAzLjgzIC01LjUzIDYuNSAtMTAgNi41Yy00LjQ3IDAgLTguMjggLTIuNjcgLTEwIC02LjVaO00yIDEyYzEuNzIgLTMuODMgNS41MyAtNi41IDEwIC02LjVjNC40NyAwIDguMjggMi42NyAxMCA2LjVjLTEuNzIgMy44MyAtNS41MyA2LjUgLTEwIDYuNWMtNC40NyAwIC04LjI4IC0yLjY3IC0xMCAtNi41WjtNNCAxMmMxLjM4IC0wLjc3IDQuNDIgLTEuMyA4IC0xLjNjMy41OCAwIDYuNjIgMC41MyA4IDEuM2MtMS4zOCAwLjc3IC00LjQyIDEuMyAtOCAxLjNjLTMuNTggMCAtNi42MiAtMC41MyAtOCAtMS4zWiIvPjwvcGF0aD48L3N2Zz4=");
	}

	:where( & .display-password ) {
		// https://icon-sets.iconify.design/line-md/watch-off-loop/
		--icon: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMjgiIGhlaWdodD0iMTI4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxtYXNrIGlkPSJTVkdvc3YwemVvdCI+PGcgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMCIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSJub25lIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJyIiBkdXI9IjZzIiBrZXlUaW1lcz0iMDswLjAzOzAuOTc7MSIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iMDszOzM7MCIvPjwvY2lyY2xlPjxwYXRoIGQ9Ik00IDEyYzEuMzggLTAuNzcgNC40MiAtMS4zIDggLTEuM2MzLjU4IDAgNi42MiAwLjUzIDggMS4zYy0xLjM4IDAuNzcgLTQuNDIgMS4zIC04IDEuM2MtMy41OCAwIC02LjYyIC0wLjUzIC04IC0xLjNaIj48YW5pbWF0ZSBhdHRyaWJ1dGVOYW1lPSJkIiBkdXI9IjZzIiBrZXlUaW1lcz0iMDswLjAzOzAuOTc7MSIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iTTQgMTJjMS4zOCAtMC43NyA0LjQyIC0xLjMgOCAtMS4zYzMuNTggMCA2LjYyIDAuNTMgOCAxLjNjLTEuMzggMC43NyAtNC40MiAxLjMgLTggMS4zYy0zLjU4IDAgLTYuNjIgLTAuNTMgLTggLTEuM1o7TTIgMTJjMS43MiAtMy44MyA1LjUzIC02LjUgMTAgLTYuNWM0LjQ3IDAgOC4yOCAyLjY3IDEwIDYuNWMtMS43MiAzLjgzIC01LjUzIDYuNSAtMTAgNi41Yy00LjQ3IDAgLTguMjggLTIuNjcgLTEwIC02LjVaO00yIDEyYzEuNzIgLTMuODMgNS41MyAtNi41IDEwIC02LjVjNC40NyAwIDguMjggMi42NyAxMCA2LjVjLTEuNzIgMy44MyAtNS41MyA2LjUgLTEwIDYuNWMtNC40NyAwIC04LjI4IC0yLjY3IC0xMCAtNi41WjtNNCAxMmMxLjM4IC0wLjc3IDQuNDIgLTEuMyA4IC0xLjNjMy41OCAwIDYuNjIgMC41MyA4IDEuM2MtMS4zOCAwLjc3IC00LjQyIDEuMyAtOCAxLjNjLTMuNTggMCAtNi42MiAtMC41MyAtOCAtMS4zWiIvPjwvcGF0aD48cGF0aCBzdHJva2U9IiMwMDAiIHN0cm9rZS1kYXNoYXJyYXk9IjI4IiBzdHJva2UtZGFzaG9mZnNldD0iMjgiIGQ9Ik0wIDExaDI0IiB0cmFuc2Zvcm09InJvdGF0ZSg0NSAxMiAxMikiPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGJlZ2luPSIwLjVzIiBkdXI9IjAuNHMiIHZhbHVlcz0iMjg7MCIvPjwvcGF0aD48cGF0aCBzdHJva2UtZGFzaGFycmF5PSIyOCIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjI4IiBkPSJNLTEgMTNoMjQiIHRyYW5zZm9ybT0icm90YXRlKDQ1IDEyIDEyKSI+PGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iZCIgZHVyPSI2cyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiIHZhbHVlcz0iTS0xIDEzaDI0O00xIDEzaDI0O00tMSAxM2gyNCIvPjxhbmltYXRlIGZpbGw9ImZyZWV6ZSIgYXR0cmlidXRlTmFtZT0ic3Ryb2tlLWRhc2hvZmZzZXQiIGJlZ2luPSIwLjVzIiBkdXI9IjAuNHMiIHZhbHVlcz0iMjg7MCIvPjwvcGF0aD48L2c+PC9tYXNrPjxyZWN0IHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iY3VycmVudENvbG9yIiBtYXNrPSJ1cmwoI1NWR29zdjB6ZW90KSIvPjwvc3ZnPg==");
	}
}
